<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Topstercine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/filmes">Programação</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/produtos">Produtos</a>
            </li>

            {{#if admin}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/admin/filme">Filmes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/produto">Produtos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/sessoes">Sessoes</a>
                </div>
            </li>
            {{/if}}

            {{#if headadmin}}
            <li class="nav-item">
                <a class="nav-link" href="/adminMaster">Head Admin</a>
            </li>
            {{/if}}

            {{#if user}}
            <li class="nav-item">
                <a class="nav-link" href="/usuarios/logout">Sair</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/usuarios/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/usuarios/registro">Registro</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>