

<a href="/admin/filmes"><button class="btn btn-success">Filmes</button></a>
<a href="/admin/produtos"><button class="btn btn-success">Produtos</button></a>

{{#if isMaster}}
<a href="/adminMaster"><button class="btn btn-success">Admin Master</button></a>
{{else}}

{{/if}}